<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Public Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Chivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Normalize style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
        integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Reset CSS -->
  <link rel="stylesheet" href="./css/reset.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/choose.css">
</head>

<body>
    <!-- choose -->
    <section id="choose" class="choose">
        <div class="container">
            <img src="./image/food-on-table.webp" alt="food-on-table" class="choose-img">
            <h4 class="choose-title">Why Choose Organic?</h4>
            <p class="choose-subtitle">Organic products offer a healthier choice for you and your family. With no synthetic pesticides or GMOs, you can enjoy better nutrition and natural flavors while supporting sustainable farming practices.</p>
            <ul class="choose-list">
                <li class="choose-list">
                    <h4 class="choose-subtitles">Better for Your Health</h4>
                    <p class="choose-text">Organic foods are grown without synthetic chemicals, making them safer for your body. They're rich in antioxidants and nutrients that support your immune system and long-term well-being.</p>
                </li>
                <li class="choose-list">
                    <h4 class="choose-titles">Protecting the Planet</h4>
                    <p class="choose-text">Organic farming reduces pollution, conserves water, and improves soil health. By choosing organic, you're helping build a cleaner, more sustainable environment for future generations.</p>
                </li>
                <li class="choose-list">
                    <h4 class="choose-titles">Fruits & Vegetables</h4>
                    <p class="choose-text">Freshly picked organic produce delivered straight from local farms to your table.</p>
                </li>
                <li class="choose-list">
                    <h4 class="choose-titles">Dairy Products</h4>
                    <p class="choose-text">Creamy, organic dairy options that are both delicious and ethically sourced.</p>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>