<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Public Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Chivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Normalize style -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Reset CSS -->
    <link rel="stylesheet" href="../css/reset.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="../css/faqs.css" />
  </head>
  <body>
    <section id="faqs" class="faqs">
      <div class="container faqs-section">
        <div class="faqs-box">
          <h5 class="faqs-title">FAQs</h5>
          <p class="faqs-text">
            Here are some common questions about our organic products and
            services.
          </p>
        </div>

        <ul class="faqs-list-text">
          <li class="faqs-list">
            <div class="faqs-content">
            <h6 class="faqs-subtitle">Are all products organic?</h6>
            <button class="faqs-button">
              <img src="../image/faqs-button.webp" alt="" />
            </button>
            </div>
            <p class="faqs-article">
              Yes, all our products are certified organic. We prioritize quality
              and sustainability in our sourcing. You can trust that everything
              you buy from us meets strict organic standards.
            </p>
          </li>

          <li class="faqs-list">
            <div class="faqs-content">
            <h6 class="faqs-text">Where do you source?</h6>
            <button class="faqs-button">
              <img src="../image/faqs-button.webp" alt="" />
            </button>
            </div>
            <p class="faqs-article">
              We source our products from local farmers and trusted suppliers.
              This ensures freshness and supports our community. Our commitment
              is to ethical and sustainable practices.
            </p>
          </li>
          <li class="faqs-list">
            <div class="faqs-content"> <h6 class="faqs-text">What areas do you deliver?</h6>
            <button class="faqs-button">
              <img src="../image/faqs-button.webp" alt="" />
            </button></div>
           
            <p class="faqs-article">
              We currently deliver to several neighborhoods in the region. Check
              our delivery area on the website for specifics. If you're unsure,
              feel free to reach out!
            </p>
          </li>
          <li class="faqs-list">
            <div class="faqs-content"><h6 class="faqs-text">Do you offer subscriptions?</h6>
            <button class="faqs-button">
              <img src="../image/faqs-button.webp" alt="" />
            </button></div>
            
            <p class="faqs-article">
              Yes, we offer subscription plans for regular deliveries. This is a
              convenient way to ensure you never run out of your favorite
              organic products. You can customize your subscription based on
              your needs.
            </p>
          </li>
          <li class="faqs-list">
            <div class="faqs-content">
              <h6 class="faqs-text">How can I contact?</h6>
              <button class="faqs-button">
                <img src="../image/faqs-button.webp" alt="" />
              </button>
            </div>

            <p class="faqs-article">
              You can reach us via phone or email for any inquiries. Our
              customer service team is here to help. We aim to respond to all
              questions promptly.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
