<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Public Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Chivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Normalize style -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Reset CSS -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <body>
    <section id="footer" class="footer">
      <footer class="footer">
        <div class="container">
          <img src="../my_sec/image/logo.webp" alt="logo" class="footer-image"/>
          <ul class="footer-list">
            <li class="footer-item">Home</li>
            <li class="footer-item">Mission</li>
            <li class="footer-item">Benefits</li>
            <li class="footer-item">Assortment</li>
            <li class="footer-item">Feedbacks</li>
            <li class="footer-item">FAQ</li>
            <li class="footer-item">Contats</li>
          </ul>
          <ul class="footer-social">
            <li class="footer-item_social"><img src="./image/facebook.webp" alt="facebook" class="footer-social_img"></li>
            <li class="footer-item_social"><img src="./image/instagram.webp" alt="instagram" class="footer-social_img"></li>
            <li class="footer-item_social"><img src="./image/x.webp" alt="Twitter" class="footer-social_img"></li>
            <li class="footer-item_social"><img src="./image/in.webp" alt="LinkedIn" class="footer-social_img"></li>
            <li class="footer-item_social"><img src="./image/youtube.webp" alt="youtube" class="footer-social_img"></li>
          </ul> 
          <hr>
          <h2 class="footer-company">© 2025 Organic Shop. All rights reserved.</h2>
        </div>
      </footer>
    </section>
  </body>
</html>
