<body>
    <section id="footer" class="footer">
      <footer class="footer">
        <div class="container">

          <ul class="footer-list">
            <li class="footer-item">Home</li>
            <li class="footer-item">Mission</li>
            <li class="footer-item">Benefits</li>
            <li class="footer-item">Assortment</li>
            <li class="footer-item">Feedbacks</li>
            <li class="footer-item">FAQ</li>
            <li class="footer-item">Contats</li>
          </ul>
          <ul class="footer-social">

        </div>
      </footer>
    </section>
  </body>
</html>
