<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Public Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Chivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Normalize style -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Reset CSS -->
    <link rel="stylesheet" href="./css/reset.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <body>
    <section id="footer" class="footer">
      <footer class="footer">
        <div class="container">
          <div class="footer-box">
            <nav class="footer-nav">
              <img src="./image/logo.webp" alt="logo" class="footer-logo" />
              <ul class="footer-list">
                <li class="footer-item">
                  <a href="#" class="footer-text">Home</a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-text">Mission</a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-text">Benefits</a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-text">Assortment</a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-text">Feedbacks</a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-text">FAQ</a>
                </li>
                <li class="footer-item">
                  <a href="#" class="footer-text">Contacts</a>
                </li>
              </ul>
            </nav>
            <ul class="footer-social">
              <li class="footer-item">
                <a href="" class="footer-link">
                  <img
                    src="./image/facebook.webp"
                    alt="facebook"
                    class="footer-image"
                  />
                </a>
              </li>
              <li class="footer-item">
                <a href="" class="footer-link">
                  <img
                    src="./image/instagram.webp"
                    alt="instagram"
                    class="footer-image"
                  />
                </a>
              </li>
              <li class="footer-item">
                <a href="" class="footer-link">
                  <img
                    src="./image/x.webp"
                    alt="x-or-twitter"
                    class="footer-image"
                  />
                </a>
              </li>
              <li class="footer-item">
                <a href="" class="footer-link">
                  <img
                    src="./image/in.webp"
                    alt="linkedin"
                    class="footer-image"
                  />
                </a>
              </li>
              <li class="footer-item">
                <a href="" class="footer-link">
                  <img
                    src="./image/youtube.webp"
                    alt="youtube"
                    class="footer-image"
                  />
                </a>
              </li>
            </ul>
          </div>
          <p class="footer-company">
            © 2025 Organic Shop. All rights reserved.
          </p>
        </div>
      </footer>
    </section>
  </body>
</html>
