<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Public Sans -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <!-- Chivo -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <!-- Normalize style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
    integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Reset CSS -->
  <link rel="stylesheet" href="./css/reset.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="./css/header.css">
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organic Shop</title>

  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header-content">
          <a href=""><img src="./image/logo.webp" alt="" class="header-img"></a>
          <nav class="header-nav">
            <ul class="header-list">
              <li class="header-item">
                <a href="" class="header-text">Home</a>
              </li>
              <li class="header-item">
                <a href="" class="header-text">Mission</a>
              </li>
              <li class="header-item">
                <a href="" class="header-text">Benefits</a>
              </li>
              <li class="header-item">
                <a href="" class="header-text">Assortment</a>
              </li>
              <li class="header-item">
                <a href="" class="header-text">Feedbacks</a>
              </li>
              <li class="header-item">
                <a href="" class="header-text">FAQ</a>
              </li>
              <li class="header-item">
                <a href="" class="header-text">Contacts</a>
              </li>
            </ul>
          </nav>
          <button class="header-button">Order</button>
        </div>
      </div>
    </header>
  </body>

  </html>

</body>

</html>