    <header class="header">
      <a href=""><img src="../image/logo.webp" alt="" class="header-img"></a>
      <div class="header-nav">
      <nav>
        <ul class="header-list">
          <li class="header-item">
            <a href="" class="header-text">Home</a>
          </li>
          <li class="header-item">
            <a href="" class="header-text">Mission</a>
          </li>
          <li class="header-item">
            <a href="" class="header-text">Benefits</a>
          </li>
          <li class="header-item">
            <a href="" class="header-text">Assortment</a>
          </li>
          <li class="header-item">
            <a href="" class="header-text">Feedbacks</a>
          </li>
          <li class="header-item">
            <a href="" class="header-text">FAQ</a>
          </li>
          <li class="header-item">
            <a href="" class="header-text">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header-button">Order</button>
    </div>