<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Public Sans -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <!-- Chivo -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <!-- Normalize style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
    integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Reset CSS -->
  <link rel="stylesheet" href="../css/reset.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="../css/mission.css">

</head>

<body>
  <section id="mission" class="mission">

    <section class="mission-section">
      <div class="container mission-text">
        <div class="mission-left">
          <h2 class="mission-heading">
            Our Mission: Fresh, Local, <br>
            and Organic for a Healthier <br>
            Tomorrow.
          </h2>
        </div>
        <div class="mission-right">
          <p class="mission-description">
            At Organic Shop, we believe in the power of nature. Our mission is to provide <br>
            you with fresh, locally sourced organic products that nourish both body and  <br>
            soul. We partner with ethical farmers who share our commitment to <br>
            sustainability and quality.<br>
          </p>
        </div>
      </div>
    </section>



    <div class="image">
      <div class="container image-container">
        <figure>
          <img src="../image/family-and-.webp" alt="Happy people packing organic vegetables together" />
        </figure>
      </div>
    </div>
  </section>
</body>
</html>