<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Public Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Chivo -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Normalize style -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Reset CSS -->
    <link rel="stylesheet" href="./reset.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="./scr/css/touch.css" />
  </head>
  <body>
    <section id="touch" class="touch">
      <h4 class="touch-contacts">Contacts</h4>
      <h2 class="touch-subtitle">Get in Touch</h2>
      <h3 class="touch-subtitle3">We'd love to hear from you anytime!</h3>
      <ul class="touch-class">
        <li class="touch-item">
          <img src="./image/envelope.webp" alt="email" />
          <a href="mailto:hello@organicstore.com" class="touch-email"
            >hello@organicstore.com</a
          >
        </li>
        <li class="touch-item">
            <img src="./image/phone.webp" alt="phone">
          <a href="tel:+1 (555) 329-1024" class="touch-phone"
            >+1 (555) 329-1024</a
          >
        </li>
      </ul>
      <form class="touch-form">
        <label for="name" class="touch-label_name">Name</label><br />
        <input
          type="text"
          id="name"
          class="touch-input_name"
          value="Sarah"
        /><br /><br />

        <label for="email" class="touch-label_email">Email</label><br />
        <input
          type="email"
          id="email"
          class="touch-input_email"
          value="hello@organic.com"
        /><br /><br />

        <label for="message" class="touch-label_message">Message</label><br />
        <textarea id="message" class="touch-input_message">
Type your message...</textarea
        ><br /><br />

        <input type="submit" class="touch-submit" value="Submit" />
      </form>
      <img src="./image/family.webp" alt="family" class="touch-image_family" />
    </section>
    
    </footer>
  </body>
</html>
