<section id="touch" class="touch">
  <div class="container touch-section">
    <div class="touch-box">
    <p class="touch-contacts">Contacts</p>
    <h6 class="touch-title">Get in Touch</h6>
    <p class="touch-subtitle">We'd love to hear from you anytime!</p>
    <ul class="touch-list">
      <li class="touch-item">
        <a href="mailto:hello@organicstore.com" class="touch-email">hello@organicstore.com</a>
      </li>
      <li class="touch-item">

        <a href="tel:+1 (555) 329-1024" class="touch-phone">+1 (555) 329-1024</a>
      </li>
    </ul>
    <form class="touch-form">
      <label for="name" class="touch-label_name">Name</label>
      <input type="text" id="name" placeholder="Sarah" required class="touch-input_name">

      <label for="email" class="touch-label_email">Email</label>
      <input type="email" id="email" placeholder="hello@organic.com" required class="touch-input_email">


      <label for="message" class="touch-label_message">Message</label><br />
      <textarea id="message" placeholder="Type your message..." class="touch-input_message"></textarea>

      <input type="submit" class="touch-submit" value="Submit" />
    </form>
  </div>
    <img src="./image/family.webp" alt="family" class="touch-image_family" />
  </div>
</section>