.explore {
    background: #D1DDCC;
    padding: 112px 64px;
}

.explore-assortment {
    color: #010400;
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.explore-title {
    color: #010400;
    font-family: Chivo;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
    align-self: stretch;
    margin-bottom: 32px;
}

.explore-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.explore-item {
    display: flex;
    flex-basis: 310px;
    flex-direction: column;
    flex-wrap: wrap;

    flex-shrink: 0;
    flex-basis: calc(((100% - 72px * 2)) / 4);
}

.explore-second-box {
    flex-grow: 1;
    margin-bottom: 16px;
}

.explore-name {
    color: #010400;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.explore-price {
    color: #010400;
    font-family: "Public Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-align: right;
}

.explore-diskription {
    color: #010400;
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-self: stretch;
}

.explore-quantity {
    color: #010400;
    text-align: right;
    font-family: "Public Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

}

.explore-button {
    display: flex;
    height: 40px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid rgba(1, 4, 0, 0.15);
}

.explore-button:hover {
    border-radius: 6px;
    border: 1px solid #1A5901;
    background: #1A5901;
    color: #FFF;
}

.explore-img {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    align-self: stretch;
    margin-bottom: 16px;
}

.explore-box {
    display: flex;
}