.header {
    background-color: #5E8A4D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 6px;
    padding-top: 6px;

}

.header-section {
    display: flex;
    align-items: center;
}

.header-img {
    width: 142px;
    height: 60px;

}

.header-list {
    gap: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
}

.header-text {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}


.header-button {
    width: 92px;
    height: 32px;
    background-color: #1A5901;
    color: #fff;
    padding: 4px 24px;
    border-radius: 6px;
    border: 1px solid #1A5901;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: auto;
    width: auto;
    margin-left: 32px;
}

.header-button:hover {
    color: #000000;
    border: 1px solid rgba(1, 4, 0, 0.15);
    background: #E8EEE5;
}
