.hero-title {
    width: 646px;
    height: 134px;
    font-family: Chivo;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.hero {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.5),
            rgba(47, 48, 58, 0.5)),
        url("../image/gradient-food.webp");

    height: 900px;
    padding-right: 64px;
    padding-left: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}
.hero-overlay{
    padding-left: 64px;
    padding-top: 326px;
    padding-bottom: 326px;

}
.hero-description{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%; 
    letter-spacing: 0;
    color: #FFFFFF;
}
.hero-button {
  width: 199px; 
  height: 36px; 
  border-radius: 6px;
  border: 1px solid #FFFFFF; 
   justify-content: center;
  padding: 6px 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  margin-top: 16px;
}
.hero-button-text {
   font-family: 'Public Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%; 
  letter-spacing: 0;
}