.mission {
    background: #5c9c5a;
    padding-top: 112px;
    padding-bottom: 112px;
}

.mission-text {
    display: flex;
    justify-content: space-between;
}

.mission-heading {
    font-family: Chivo;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
    align-self: stretch;
    color: #FFFFFF;
}

.mission-description {
    color: #fff;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    align-self: stretch;
    margin-left: 24px;
    margin-bottom: 66px;
    margin-top: 8px;
}

.mission-image {
    margin-top: 80px;
    height: 738px;
    align-self: stretch;
    aspect-ratio: 16/9;
    background: url("../image/family-and-.webp") lightgray 50% / cover no-repeat;
}